/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@300;400&family=New+Tegomin&family=Original+Surfer&family=Roboto&family=Roboto+Condensed&family=Sofia&display=swap');

/*create variables for some fonts and colors*/
:root{
    --light-blue: #99ccff;
    --light-purple: #ccccff;
    --light-grey: #9999cc;
    --light-yellow:#FFFFE0;
    --light-orange:#FED8B1;
    --purple: #cc99ff;
    --roboto: "Roboto", sans-sherif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive
}

/*global class that can be accessed w html file*/
.light-blue{
    color:var(--light-orange);
}

/*Overide previous css bg color*/
.bg-light-blue{
    background-color: var(--light-orange) !important;
}

.light-purple{
    color:var(--light-purple);
}

.font-roboto{
    font-family:var(--roboto);
}

/*change the background&font*/
/*header*/
header{
    background-color: var(--light-orange);
    font-family:var(--roboto);
}

header .site-title{
    font-family:var(--gugi);
    font-size:5.0em;
}

.header-links a{
    font-size:0.9em;
    text-decoration:none;
    color:black;
}

#nav-home{

    background-color:var(--light-orange);
}

#nav-home-tab{
    font-family:var(--roboto);
}

#nav-profile-tab{
    font-family:var(--roboto);
}


body{
    background-color:var(--light-orange) !important;
}



#list{
    font-family: var(--roboto);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left:15px !important;
}

header .meals{
    font-size:1.5em;
    font-family:var(--sofia);
}

.star {
    font-size: 15px;
      color:gold;
  }
  
.heart {
    font-size: 20px;
    color:red;
    padding:10px !important;
}

#meals{
    font-family:var(--sofia);
    margin-top: 11px;
    margin-left: 15px;
}

#favlist{
    margin-right:800px;
}

#mealsfound{
    margin-top:0px;
}

#viewingr{
    margin-left: 15px;
    margin-top: 8px;
}

#findmeals{
    margin-left:15px !important;
    margin-top: 8px;

}

#search{
    margin-left:15px !important;
    margin-top: 8px !important;
    
}

#filter{
    margin-left:15px !important;
    margin-top: 8px !important;

}

#nav-tab{
    color:black;
}

#toprow{
    color:black;
}


#logoutbutton
{
    position: absolute;
    margin-left: 36%;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: 2.5%;
    background: linear-gradient(0deg, rgba(16,177,117,1) 0%, rgba(6,100,51,1) 100%);

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
   height: 25px;
   width: 4%;
   text-align: center;
    border-radius: 20%;
  
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    padding-left: 10;
    padding-right: 10;
    padding-bottom: 10;
    padding-top: 10;
}

.logoutbutton, a:link, a:visited
{
    text-decoration: none;
    color: #F0F0F0;
}
